<section class="container" [appScrollAnimation]="'bounce'" id="contact">
  <h3 class="section-title">
    {{ "contact.title" | translate }}
  </h3>
  <p class="contact-description">
    {{ "contact.description" | translate }}
  </p>
  <div class="contact-icons">
    <a href="https://www.linkedin.com/in/rodrigos-almeida/" target="_blank"
      ><i class="pi pi-linkedin icon"></i
    ></a>
    <a href="mailto:rodrigosalmeidadev@gmail.com" target="_blank"
      ><i class="pi pi-envelope icon"></i
    ></a>
    <a href="https://github.com/RodrigoSADev" target="_blank"
      ><i class="pi pi-github icon"></i
    ></a>
  </div>
</section>
