<section class="container">
  <h2 class="subtitle">Sobre</h2>
  <p class="about-description">
    Desenvolvedor Front-End com especialização em Angular e mais de 2 anos de
    experiência em desenvolvimento web. Bacharel em Sistemas de Informação, com
    experiência no desenvolvimento de aplicações responsivas e escaláveis.
    Proficiente em metodologias ágeis, práticas modernas de desenvolvimento e
    testes automatizados.
  </p>
  <div class="about-content">
    <app-experiences />
    <app-education />
  </div>
</section>
