@import "../../../variables.scss";

.section-title-span {
  color: $gray-color;
}

.about-description {
  font-size: 1.2rem;
  font-family: $secondary-font;
  color: $gray-color;
  text-align: center;
  max-width: 80%;
  margin: 2rem auto 0 auto;
  line-height: 2;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr;
  }
}
