@import "../../../variables.scss";

.about-description {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: $secondary-font;
  color: $gray-color;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr;
  }
}
