<section class="container" id="about">
  <h2 class="section-title">
    <span class="section-title-span">Sou</span> Desenvolvedor Web
  </h2>
  <h2 class="section-title">
    <span class="section-title-span">Especializado em</span> Angular
  </h2>
  <p class="about-description">
    Com mais de 2 anos de experiência, crio interfaces intuitivas e
    personalizadas. Bacharel em Sistemas de Informação, com experiência no
    desenvolvimento de aplicações responsivas e escaláveis. Proficiente em
    metodologias ágeis, práticas modernas de desenvolvimento e testes
    automatizados.
  </p>
  <div class="about-content">
    <app-experiences />
    <app-education />
  </div>
</section>
