@import "../../../variables.scss";

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: $primary-color;
  font-family: $primary-font;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}
