<section class="container" [appScrollAnimation]="'flip'" id="projects">
  <h2 class="section-title">
    {{ "projects.title" | translate }}
  </h2>
  <p-carousel
    [value]="projects"
    [numVisible]="2"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-project #item>
      <p-card>
        <ng-template #header>
          <img alt="Card" src="{{ project.image }}" />
        </ng-template>

        <ng-template #title>
          {{ project.name }}
        </ng-template>

        <ng-template #footer>
          <div class="technologies-container">
            @for (technology of project.technologies; track technology) {
            <p class="technology">{{ technology }}</p>
            }
          </div>
          <div class="actions-container">
            <a href="{{ project.github }}" target="_blank">
              <i class="pi pi-github icon"></i>
              <p>Github</p>
            </a>
            <a href="{{ project.deploy }}" target="_blank">
              <i class="pi pi-desktop icon"></i>
              <p>Deploy</p>
            </a>
          </div>
        </ng-template>
      </p-card>
    </ng-template>
  </p-carousel>
</section>
