<section>
  <h2 class="subtitle">Experience</h2>
  <div class="education-experience-container">
    <img src="assets/experiences/metasix_logo.jpeg" alt="Metasix Logo" />
    <div>
      <h3 class="education-experience-title">
        Desenvolvedor Front-End -
        <span> Metasix </span>
      </h3>
      <p class="period">12/2022 - Atual</p>
    </div>
  </div>
  <hr class="divider" />
  <div class="education-experience-container">
    <img
      src="assets/experiences/vanzolini_logo.jpeg"
      alt="Fundação Vanzolini Logo"
    />
    <div>
      <h3 class="education-experience-title">
        Estagiário Desenvolvedor Web -
        <span> Fundação Vanzolini </span>
      </h3>
      <p class="period">04/2022 - 11/2022</p>
    </div>
  </div>
</section>
