<section>
  <h2>Experience</h2>
  <div class="experience-container">
    <img src="assets/experiences/metasix_logo.jpeg" alt="Metasix Logo" />
    <div>
      <h3>
        Desenvolvedor Front-End -
        <span> Metasix </span>
      </h3>
      <p>Dezembro 2022 - Atual</p>
    </div>
  </div>
  <hr class="divider" />
  <div class="experience-container">
    <img
      src="assets/experiences/vanzolini_logo.jpeg"
      alt="Fundação Vanzolini Logo"
    />
    <div>
      <h3>
        Estagiário Desenvolvedor Web -
        <span> Fundação Vanzolini </span>
      </h3>
      <p>Abril 2022 - Novembro 2022</p>
    </div>
  </div>
</section>
