.education-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    width: 60px;
    border-radius: 0.5rem;
  }
}

.university-name {
  font-weight: normal;
  font-style: italic;
}

h3,
p {
  margin: 0;
}
