@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "primeicons/primeicons.css";
@import "./variables.scss";
@import "./reset.scss";

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 23rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: $primary-font;
}

.subtitle {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 400;
  font-family: $primary-font;
}

.education-experience-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    width: 60px;
    border-radius: 0.5rem;
  }
}

.education-experience-title {
  font-family: $primary-font;
  line-height: 1.5;
  span {
    font-weight: normal;
    font-style: italic;
  }
}

.period {
  font-size: 0.9rem;
  font-family: $secondary-font;
  color: $gray-color;
  margin-top: 0.3rem;
}

.divider {
  border: 1px solid #323232;
  margin: 1rem 0;
}

// Anime Up

.animeUp {
  transform: translateY(40px);
  opacity: 0;
  animation: animeUp 1s forwards;
}

@keyframes animeUp {
  to {
    transform: initial;
    opacity: initial;
  }
}

// Anime Left

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 1s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

// Anime Right

.animeRight {
  transform: translateX(40px);
  opacity: 0;
  animation: animeRight 1s forwards;
}

@keyframes animeRight {
  to {
    transform: initial;
    opacity: initial;
  }
}

// Bounce
.bounce {
  transform: scale(0.5);
  opacity: 0;
  animation: bounce 1s forwards;
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// Flip
.flip {
  transform: rotateY(90deg);
  opacity: 0;
  animation: flip 1s forwards;
}

@keyframes flip {
  to {
    transform: initial;
    opacity: initial;
  }
}

// PrimeNG

.p-carousel-indicator-active > .p-carousel-indicator-button {
  background-color: $primary-color !important;
}

.p-card-title {
  font-family: $secondary-font !important;
}
