@import "primeicons/primeicons.css";
@import "./variables.scss";
@import "./reset.scss";

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 23rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: $primary-font;
}

.btn {
  background-color: purple;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.p-carousel-indicator-active > .p-carousel-indicator-button {
  background-color: purple !important;
}
