@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "primeicons/primeicons.css";
@import "./variables.scss";
@import "./reset.scss";

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 23rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: $primary-font;
}

.education-experience-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    width: 60px;
    border-radius: 0.5rem;
  }
}

.education-experience-title {
  font-family: $primary-font;
  span {
    font-weight: normal;
    font-style: italic;
  }
}

.period {
  font-size: 0.9rem;
  font-family: $secondary-font;
  color: $gray-color;
  margin-top: 0.3rem;
}

.divider {
  border: 1px solid $gray-color;
  margin: 1rem 0;
}

.btn {
  background-color: purple;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.p-carousel-indicator-active > .p-carousel-indicator-button {
  background-color: purple !important;
}

.p-card-title {
  font-family: $secondary-font !important;
}
